chapter01/addressRDSchema.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="phoneBook">
    <complexType>
      <sequence>
        <element name="contact" maxOccurs="unbounded">
          <complexType>
            <sequence>
              <element name="name" type="string"/>
              <element name="address" type="string"/>
              <element name="phone" type="string"/>
            </sequence>
            <attribute name="id" type="integer" use="required"/>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>
