chapter03/addressSchema.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="phoneBook">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contact" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="contact">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="address" type="xsd:string"/>
				<xsd:element name="phone" type="xsd:string"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:integer" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
